@charset "EUC-KR";

div {
    display: block;
}

.sub_visual_6 {
    /* background: url(/Contents/images/visual/visual_6.jpg) no-repeat right top; */
}

.sub_layout {
    padding: 130px 0 0;
}

.hierarchy_list {
    width: 1143px;
    margin: 30px auto 0;
    *zoom: 1;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.hierarchy_list:after {
    content: "";
    display: block;
    clear: both;
}

.hierarchy_list li:first-child {
    padding-left: 0;
    margin-left: 0;
    background-image: none;
}
.hierarchy_list .icon_home {
    display: block;
}
.hierarchy_list li {
    float: left;
    height: 20px;
    padding-left: 30px;
    margin-left: 21px;
    line-height: normal;
    background: url(../image/brand/icon_hierarchy.png) no-repeat left center;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    /*text-decoration: underline;*/
    text-decoration: none;
}

.hierarchy_list li img {
    display: inline-block;
    margin-left: 10px;
    vertical-align: top;
}

.hierarchy_list .depth_3 > a {
    color: #0a9882;
}

.t_block_hierarchy {
    display: block;
}

.hierarchy_depth {
    display: none;
}

ul ul {
    list-style-type: circle;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.sub_contents {
    width: 1144px;
    margin: 0 auto;
}

.title_description {
    padding: 115px 0 150px;
}

.title_sub {
    font-size: 50px;
    color: #000;
    font-weight: bold;
    text-align: center;
    /* background: url(/Contents/images/m/icon/icon_green_line.jpg) no-repeat left top; */
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.title_description .sub_description {
    margin-top: 60px;
}

.sub_description {
    line-height: 1.9;
    font-size: 24px;
    color: #737373;
    text-align: center;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.title_description + .tab_list {
    margin: -55px 0 45px;
}

.tab_list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    *zoom: 1;
}

.tab_list:after {
    content: "";
    display: block;
    clear: both;
}

.tab_list li:first-child {
    margin-left: -1px;
}

.tab_list li:hover, .tab_list .on {
    background-color: #444b55;
    border: 1px solid #444b55;
    position: relative;
}

.tab_list li {
    display: table;
    margin-left: -1px;
    padding: 0 20px;
    min-width: 165px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-sizing: border-box;
    transition: all 0.5s;
}

.tab_list li:hover a, .tab_list .on a {
    color: #fff;
}

.tab_list li a {
    display: table-cell;
    width: 100%;
    height: 53px;
    font-size: 22px;
    color: #555;
    text-align: center;
    vertical-align: middle;
    transition: all 0.5s;
}

.tab_list_brand li [class^="icon_"] {
    background-image: url(../image/brand/icon_brand.png);
    transition: all 0.5s;
}

.icon_tab_bubble {
    display: none;
}

.tab_list_brand .icon_health {
    background-position-y: 0;
}

.tab_list_brand li a i {
    display: inline-block;
    width: 25px;
    height: 25px;
    vertical-align: middle;
}

i {
    font-style: italic;
}

.tab_list_brand .icon_eco {
    background-position-y: -25px;
}

.tab_list_brand .icon_out {
    background-position-y: -50px;
}

.tab_list_brand .icon_product {
    background-position-y: -75px;
}

.tab_list_brand .icon_market {
    background-position-y: -100px;
}

.brand_story_list {
    margin-left: -10px;
    margin-top: 60px;
    *zoom: 1;
}

.brand_story_list:after {
    content: "";
    display: block;
    clear: both;
}

.brand_story_list li {
    float: left;
    margin-left: 9px;
    margin-bottom: 10px;
    text-align: center;
}

.brand_story_list li a {
    display: block;
    width: 218px;
    height: 220px;
    padding-left: 1px;
    padding-top: 1px;
    border: 1px solid #c1c1c1;
    position: relative;
}

.brand_name {
    display: block;
    font-size: 12px;
    color: #666;
    line-height: 30px;
}

.over_health {
    background: url(../image/brand/bg_health.png) repeat left top;
}

.over_text_1 {
    height: 131px;
    padding-top: 90px;
}

.over_text {
    display: none;
    width: 219px;
    height: 221px;
    font-size: 18px;
    color: #fff;
    line-height: 25px;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
}

.over_text img {
    display: block;
    width: 22px;
    margin: 10px auto 0;
}

.over_eco {
    background: url(../image/brand/bg_eco.png) repeat left top;
}

.over_text_2 {
    height: 151px;
    padding-top: 70px;
}

.over_out {
    background: url(../image/brand/bg_out.png) repeat left top;
}